<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 about">
        <h1>About Us</h1>

        {{> paw_line }}

        <p>To us, dogs are much more than pets. Besides being fellow travelers on this precious planet, they are celebrated
            and trusted companions who deserve everything they need and just about everything they want. We spoil our dogs
            and hope you do too! We are here to help. At phillydogspot, we provide access to the things your dog NEEDS while
            providing a way to avoid the common stressers that accompany them.</p>
        <p>Our Dog Spa packages are all inclusive, we don't charge more for basic things like tooth-brushing and expressing
            anal glands. We
            <span style="color:rgb(38, 171, 69)">don't use kennels, pesticides, drugs or force</span>. Since all grooming is done strait through, most dogs are
            finished in less than 2 hours. Our grooming shampoos are all biodegradable and upon request we have a
            <span style="color:rgb(38, 171, 69)">soap-free hypoallergenic bathing option</span>.</p>
        <p>Be assured that the welfare of your very special dog is our biggest concern. Your trust and continued patronage is
            the very nicest compliment you can give. We will always work hard to earn and deserve the trust you place in
            our ability to care for your dog.</p>
        <p class="lead">
            <a class="btn btn-lg" href="#book">Book Online</a>
        </p>
    </div>
</div>