<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 book">
        <h1>Schedule an Appointment</h1>

        {{> paw_line_rainbow }}

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://instant-scheduling.com/sch.php?kn=162145&nobanner=Y" width="100%" allowfullscreen></iframe>
        </div>
    </div>
</div>