<div class="row">
    {{!--
    <div class="col-md-1"></div> --}}
    <div class="col-md-12 cats">
        <h1>Cat Grooming</h1>

        {{> paw_line }}
        <div class="content">
            <h4>Short Hair Cat - 30 to 60 minutes</h4>
            <p>Grooming for felines who are stinky, don't groom themselves or have allergic owners. Nail clipping, ear cleaning
                and either a waterless shampoo or full water bath and a comb out.</p>
            <p>Price is $25 for a dry bath and $50 for a full water bath</p>

            <h4>Long Hair Cat - 30 minutes</h4>
            <p>Wet or dry bath, deshedding, nail clipping, ear cleaning, comb out and sanitary maintenance (paws, privates,
                belly) OR a Lion Trim OR Bunny Trim</p>
            <p>Price is $50 to $75</p>

            <h5>Cats who are deemed by the groomer to be too matted or aggressive may be excused.</h5>
            <h5>Cats must have proof of rabies vaccination to be serviced.</h5>
            <h5>DEMATTING is EXTRA and starts at $10 for 15 minutes.</h5>

            <p class="lead">
                <a class="btn btn-lg" target="_blank" href="https://instant-scheduling.com/sch.php?kn=162145">Book Online</a>
            </p>
        </div>
    </div>
</div>