<div class="row">
    {{!--
    <div class="col-md-1"></div> --}}
    <div class="col-md-12 color">
        <h1>Professional Coat Coloring</h1>

        {{> paw_line }}

        <div class="content">
            <p>We offer both radical and restorative coat coloring services to give your dog a distinct look. We use several
                different methods to achieve the perfect look.</p>

            <p>Coat Restoration is possible for older dogs who have gone grey, who have sun-damaged hair or have a coat color
                that is not vivid enough.</p>

            <p>Radical dying is great for holidays, to express individual style or just for fun.</p>

            <h3>RATES</h3>
            <ul>
                <li>Tips of ears and tail : $5</li>
                <li>Shading or enhanced natural coat color: $20 to $50</li>
                <li>Full Body Color: $50 to $250</li>
            </ul>

            <p>Appointments for color require a consultation with the dog present. At that time we will discuss the desired
                color and desired effect. We can choose a media to work with and discuss the aftercare of the colored coat.
            </p>

            <p>I work with chalk, spray, semi-permanent and permanent dyes to give you the greatest possibilities. Each technique
                has a different outcome.</p>
            <p class="lead">
                <a class="btn btn-lg hvr-wobble-top" target="_blank" href="https://instant-scheduling.com/sch.php?kn=162145">Book Online</a>
            </p>
        </div>
    </div>
</div>