<div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 contact">
                <h1>Location &#8226 Contact</h1>

                {{> paw_line }}

                <h3>1316 N 26th Street
                <br>Philadelphia, Pennsylvania 19121
                <br>(215) 268-7944 <span style="font-size: 18px">(land line)</span>
                <br>grooming@phillydogspot.com
                </h3>

                <h3>&#160 &#160 For more photos and reviews 
                    <a href="https://www.facebook.com/phillydogspot-118660671479523/">
                <img src="assets/images/facebook.png" class="auth-image" alt="Facebook" style="max-height:80px; max-width:150px;">
                </a>
                </h3>

                <p>Are You Happy with the Hair Cut? When you instruct us regarding the type of cut you would like your pet to
                    have, we interpret your instructions and hopefully the look is just as you described. If the cut is not
                    as you desired, please let us know!</p>
                <p>Our goal is to provide the cut exactly as you have requested. If you’re not happy, we can make a note in
                    your dog’s file about changes we can make for future cuts AND set up a time to make reasonable revisions.</p>
                <p>If you have questions, concerns, or comments, please contact us!</p>
                <p class="lead">
                    <a class="btn btn-lg" href="#book">Book Online</a>
                </p>
            </div>
        </div>