<div class="row">
    {{!--
    <div class="col-md-1"></div> --}}
    <div class="col-md-12 groomingFacts" style="text-align: left">
        <h1>Grooming Facts</h1>

        {{> paw_line }}

        <div class="content">
            <h3 style="margin-bottom: -3px; text-decoration: underline">Clipper Burn</h3>
            <p>The clipping process can cause irritation and/or redness on pets with sensitive skin. This condition is caused
                by a multitude of things and it may be the length of the blade being used that will cause the reaction. Because
                some animals have very sensitive skin, adjusting the blade length will alleviate the problem in most pets.
                If you see redness on your dog’s skin, be sure to let us know, so we can adjust the blade length on future
                grooming visits.
            </p>

            <h3 style="margin-bottom: -3px; text-decoration: underline">Brush Burn</h3>
            <p>In heavily tangled or matted pets, excessive brushing to remove tangles or mats can cause redness on your dog’s
                skin. To avoid this, have your pet groomed on a regular basis.</p>

            <h3 style="margin-bottom: -3px; text-decoration: underline">Nail Bleeding</h3>
            <p>When nails are clipped, even by a veterinarian, there is a possibility that one or two may bleed. The ‘quick’
                is a blood vessel that runs down the middle of your dog’s nail. This blood vessel grows as your dog’s nails
                grow, so if you wait a very long time between clippings, the quick will be closer to the end of the nail.
                The quick is what we try to avoid while trimming your dog’s nails. It is easy to see the quick with white
                or clear nails, but more difficult to notice with black nails. Trimming your dog's nails is not just a part
                of grooming, but is important for your dog's health as well. Untrimmed nails can cause a variety of problems
                including painful broken nails. In some cases, nails will actually curl and grow back into the dog's feet.
                A good indication that dogs' nails are too long is a telltale 'click-click-click' when walking on uncarpeted
                areas. If the bleeding starts after you get home, we suggest you apply flour (or better yet, QuickStop) to
                stop the bleeding, or hold a tissue to the nail. The bleeding should stop naturally after 5-7 minutes. If
                it does not stop, contact a veterinarian.</p>

            <h3 style="margin-bottom: -3px; text-decoration: underline">Head Shaking</h3>
            <p>Removal of hair from the ears creates a different sensation for your dog, and the general response is shaking.
                Removing hair and wax from the dog’s ear is important for your dog’s health. You should check your dog’s
                ears the day after grooming to remove any excess wax that had been loosened during routine cleaning.</p>

            <h3 style="margin-bottom: -3px; text-decoration: underline">Itching</h3>
            <p>When a dog is clipped, it will experience the same type of itching a person would after a hair cut. The dog may
                have a pre-existing condition from flea bites, hot spots, allergies, or your dog could be experiencing stress
                from their environment. In rare cases, your pet may be allergic to the shampoo, and you should consult your
                vet as to what shampoo is best for your dog.</p>

            <h3 style="margin-bottom: -3px; text-decoration: underline">Fear</h3>
            <p>Pets are like children in that they don’t like to have their parents leave them. They shake and show fear that
                is very stressful to some owners. Be assured that once you leave the shop, they tend to relax to their new
                surroundings very quickly.</p>

            <h3 style="margin-bottom: -3px; text-decoration: underline">Matted Dogs</h3>
            <p>Heavily matted dogs experience more stress than dogs that are less matted. Like children, dogs will remember
                the experience, whether it is positive or traumatic. Be a thoughtful owner – help us make this a positive
                experience for your dog! We want grooming to become an event both you and your pet can look forward to, rather
                than dread.</p>
            <p>De-matting a pet can be a very painful process. Matted coats can cause a variety of skin & health problems. Matted
                fur does not allow for air circulation to the skin, causing hot spots, bacterial and fungal infections. Fleas,
                ticks, maggots and parasites may be lurking in the coat causing further skin infections. Matted fur also
                pulls and binds, causing pain to your pet when they move or lay on mats. The skin underneath is usually raw
                and inflamed. Matted coats will not dry properly and can lead to rotting fur and skin. If matted, your dog’s
                hair may need to be shaved extremely short and may show signs of irritations and sores. In order to take
                care of a dog that was not groomed often enough, and is matted, the required grooming sessions may be long,
                stressful, or painful (please note, more than 1 grooming session may be required if your dog is severely
                matted).</p>
            <p>We offer full body dematting for dogs whose coat we feel can be salvaged if they have a temperament that permits
                dematting. All dogs have different pain tolerance and some dogs simply don't stand still long enough. Whining
                and begging me to save the coat will most likely result in your dog going home with no hair whatsoever. Hand
                dematting is reserved for clients who make regular appointments only and is extremely time consuming.</p>

            <h3 style="margin-bottom: -3px; text-decoration: underline">Grooming For All Seasons</h3>
            <p>Dogs need year round grooming to maintain their good health. The misconception that dogs should not be groomed
                in the winter is untrue. Dry heat in homes can be tough on our hair and skin, and it can be tough on your
                dog as well. The layer of fat between you pet’s muscle and skin is the true insular – if your pet is matted,
                it is better to clip your pet short than to let the mat cause skin and health problems. Allowing your dog’s
                hair to "grow in for the winter" can result in increased matting, which is a major cause of skin problems.</p>
            <p>If you decide to leave your dog’s coat longer for the winter, be prepared to brush the coat daily to prevent
                matting. If you're concerned about your dog being cold when he's outdoors, a sweater or fleece coat is a
                better option than leaving his coat long.</p>
            <p>Hair that accumulates in the pads of your dog’s feet can pick up foreign objects, become matted and hold moisture
                between the pads. Many owners of long coated dogs have problems with getting burrs in the foot because the
                hair is too long. Especially in the winter, it is important to keep the feet trimmed somewhat to prevent
                "ice balls" between the toes and protect the feet from snow and icy conditions.</p>
            <p class="lead">
                <a class="btn btn-lg" target="_blank" href="https://instant-scheduling.com/sch.php?kn=162145">Book Online</a>
            </p>
        </div>
    </div>
</div>