<div class="pawLine">
    <i class="fas fa-paw fa-xs" style="color:rgb(152, 12, 12)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(203, 21, 82)"> </i>
    <i class="fas fa-paw fa-xs" style="color:palevioletred"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(255, 153, 0)"> </i>
    <i class="fas fa-paw fa-xs" style="color:yellow"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(7, 100, 215)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(8, 235, 61)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(136, 53, 237)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(152, 12, 12)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(203, 21, 82)"> </i>
    <i class="fas fa-paw fa-xs" style="color:palevioletred"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(255, 153, 0)"> </i>
    <i class="fas fa-paw fa-xs" style="color:yellow"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(7, 100, 215)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(8, 235, 61)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(136, 53, 237)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(152, 12, 12)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(203, 21, 82)"> </i>
    <i class="fas fa-paw fa-xs" style="color:palevioletred"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(255, 153, 0)"> </i>
    <i class="fas fa-paw fa-xs" style="color:yellow"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(7, 100, 215)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(8, 235, 61)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(136, 53, 237)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(152, 12, 12)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(203, 21, 82)"> </i>
    <i class="fas fa-paw fa-xs" style="color:palevioletred"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(255, 153, 0)"> </i>
    <i class="fas fa-paw fa-xs" style="color:yellow"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(7, 100, 215)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(8, 235, 61)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(136, 53, 237)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(152, 12, 12)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(203, 21, 82)"> </i>
    <i class="fas fa-paw fa-xs" style="color:palevioletred"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(255, 153, 0)"> </i>
    <i class="fas fa-paw fa-xs" style="color:yellow"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(7, 100, 215)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(8, 235, 61)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(136, 53, 237)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(152, 12, 12)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(203, 21, 82)"> </i>
    <i class="fas fa-paw fa-xs" style="color:palevioletred"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(255, 153, 0)"> </i>
    <i class="fas fa-paw fa-xs" style="color:yellow"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(7, 100, 215)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(8, 235, 61)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(136, 53, 237)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(152, 12, 12)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(203, 21, 82)"> </i>
    <i class="fas fa-paw fa-xs" style="color:palevioletred"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(255, 153, 0)"> </i>
    <i class="fas fa-paw fa-xs" style="color:yellow"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(7, 100, 215)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(8, 235, 61)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(136, 53, 237)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(152, 12, 12)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(203, 21, 82)"> </i>
    <i class="fas fa-paw fa-xs" style="color:palevioletred"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(255, 153, 0)"> </i>
    <i class="fas fa-paw fa-xs" style="color:yellow"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(7, 100, 215)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(8, 235, 61)"> </i>
    <i class="fas fa-paw fa-xs" style="color:rgb(136, 53, 237)"> </i>
</div>