<div class="row">
    {{!--
    <div class="col-md-1"></div> --}}
    <div class="col-md-12 perscription">
        <h1>Prescription Bathing</h1>

        {{> paw_line }}
        <div class="content"  style="text-align: left">
            <p>
                A prescription is not required for
                <span style="font-size:18px"> phillydogspot</span> to use a shampoo supplied by a veterinarian while servicing a pet in the salon. A prescription
                form is required to receive the prescription rate for bathing.</p>

            <p>Our prescription bathing program was created to give owners of dogs with diagnosed skin problems a way to affordably
                and successfully treat those problems which they might not be able to otherwise have time to effectively
                treat at home or the means to professionally treat.</p>

            <p>One of the main reasons that many skin conditions linger is the lack of consistent treatment. Often it takes
                daily then weekly shampoos to heal skin problems and many times owners simply fail to keep up with the medicated
                baths. Our aim is to be the option for success in treating these issues.</p>

            <p>All dogs must have a prescription form filled out by a licensed veterinarian. A prescription shampoo is not required,
                but if not present an alternative suggestion is needed so that we can effectively select a shampoo.
            </p>

            <p>Pricing is based on the completion of an entire series (what is defined in the prescription before “then as needed”)
                of baths. The price for the series is to be paid up front. If additional baths are needed, they can be purchased
                in weekly increments. We will not refund money for unused baths. Make up baths will be at the discretion
                of
                <span style="font-size:18px"> phillydogspot</span>.</p>

            <p>Contagious skin conditions require specific disinfection protocols. We need to book dogs with these conditions
                as the last appointment of the night until your vet feels your dog is no longer a threat to other dogs in
                our care.</p>

            <h3  style="text-align:center">RATES</h3>
            <ul style="text-align:center">
                <li>Daily Baths(6 or 7) Includes one nail trim & administration of ear medicine if required</li>
                <p>One Week - $50
                    <span> &#8226;</span> Two Weeks - $90</p>
                <li>Two or Three baths per week - Includes nails trimmed once per week</li>
                <p> $10 each (includes ear cleaning)</p>
                <li>Once a week standing appointments</li>
                <p>$15 (Includes nail trim, ear cleaning, tooth brushing, anal glands)</p>
            </ul>
            <p class="lead">
                <a class="btn btn-lg hvr-wobble-top" target="_blank" href="https://instant-scheduling.com/sch.php?kn=162145">Book Online</a>
            </p>
        </div>
    </div>
</div>