<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 policies" style="text-align: left">
        <h1>Policies</h1>

        {{> paw_line }}

        <h3 style="margin-bottom: -3px; text-decoration: underline">Vaccinations</h3>
        <p>State law requires all adult dogs to have a current rabies vaccine to be admitted to any kennel facility. phillydogspot
            requires Parvo, Distemper and Strongly suggests a kennel cough vaccine.</p>

        <h3 style="margin-bottom: -3px; text-decoration: underline">Age</h3>
        <p>Dogs must be at least 2 months in age to be seen in the salon, and we offer a special intro groom for baby puppies
            8-20 weeks to acclimate them to the process without undue stress. We recommend having your dog groomed early
            and often when they are puppies.</p>

        <h3 style="margin-bottom: -3px; text-decoration: underline">Fleas</h3>
        <p>It is up to you as a responsible pet owner to make sure your dog is protected from fleas. If we notice fleas on your
            pet, the dog will be given a flea bath and the owner will be held responsible for the cost. We highly suggest
            that all pets be on a spot-on flea prevention.</p>

        <h3 style="margin-bottom: -3px; text-decoration: underline">Health Concerns</h3>
        <p>If your dog is ill, leave him at home! All dogs are required to be healthy at the time of service. If your dog becomes
            ill, you will be notified and are required to make arrangements for immediate pickup. If your dog is not contagious
            and very ill, but still needs grooming, contact us so we can make special arrangements for your dog or cat to
            be groomed in a manner consistent with your vets' recommendations.</p>
        <p>Our staff is fully trained to work with dogs. In order to protect the safety of your dog while in our care, they
            may be segregated from other dogs if behavior warrants it. All areas are kept clean and disinfected regularly.
        </p>

        <h3 style="margin-bottom: -3px; text-decoration: underline">Behavior</h3>
        <p>All dogs must be non-aggressive towards people. If your dog is dog aggressive, he has the same right to bathing and
            grooming as any other dog, but you must let us know when making the appointment so we can assure no other dogs
            will be in the salon during the time your dog is being serviced.</p>

        <h3 style="margin-bottom: -3px; text-decoration: underline">Picking Up Your Dog</h3>
        <p>We attempt in every way to have your pet ready at the appointed pick-up time. Many pets are ready for pick up earlier
            than initially expected and we will call to let you know if this is the case. We rely on timing to enable us
            to offer a cage free environment for your pet while grooming. Dogs must be picked up within 15 minutes of their
            original scheduled release time to avoid a late pick up fee. If you have a scheduling conflict the day of the
            appointment that requires your pet to be here longer than normal, you MUST notify us BEFORE your appointment
            so we can assure there is space for him to stay and issue a different release time.
        </p>
    </div>
</div>