<div class="row">
    {{!--
    <div class="col-md-1"></div> --}}
    <div class="col-md-12 price">
        <h1>Price by Breed</h1>

        {{> paw_line }}

        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Breed</th>
                            <th scope="col">The Renew</th>
                            <th scope="col">The Refresh</th>
                            <th scope="col">Urban Dog</th>
                            <th scope="col">Knotty Dog</th>
                            <th scope="col">The Westminster</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Affenspincher</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Afghan</th>
                            <td>$70</td>
                            <td>$85</td>
                            <td>$90</td>
                            <td>$250</td>
                            <td>$160</td>
                        </tr>
                        <tr>
                            <th scope="row">Airedale Terrier</th>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$70</td>
                            <td>$110</td>
                            <td>$110</td>
                        </tr>
                        <tr>
                            <th scope="row">Akbash</th>
                            <td>$85</td>
                            <td>$95</td>
                            <td>$110</td>
                            <td>-</td>
                            <td>$210</td>
                        </tr>
                        <tr>
                            <th scope="row">Akita</th>
                            <td>$65</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">American Bulldog</th>
                            <td>$60</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">American Cocker</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$70</td>
                            <td>$90</td>
                            <td>$120</td>
                        </tr>
                        <tr>
                            <th scope="row">American Eskimo</th>
                            <td>$60</td>
                            <td>$70</td>
                            <td>$90</td>
                            <td>$100</td>
                            <td>$90</td>
                        </tr>
                        <tr>
                            <th scope="row">American Eskimo – Mini</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$70</td>
                            <td>$100</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">American Eskimo - Toy</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$90</td>
                            <td>$250</td>
                            <td>$160</td>
                        </tr>
                        <tr>
                            <th scope="row">Airedale Terrier</th>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$65</td>
                            <td>$90</td>
                            <td>$80</td>
                        </tr>
                        <tr>
                            <th scope="row">American Water Spaniel</th>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$75</td>
                            <td>$110</td>
                        </tr>
                        <tr>
                            <th scope="row">Anatolian Shepherd</th>
                            <td>$70</td>
                            <td>$85</td>
                            <td>$110</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Australian</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Australian Cattle Dog</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$50</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Australian Shepherd</th>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$110</td>
                        </tr>
                        <tr>
                            <th scope="row">Azawakh</th>
                            <td>$55</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Basenji</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Basset</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Basset Griffon Vendeen – Grand</th>
                            <td>$65</td>
                            <td>$70</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Basset Griffon Vendeen – Petite</th>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$65</td>
                            <td>$110</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Beagle</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Bearded Collie</th>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$95</td>
                            <td>$150</td>
                            <td>$160</td>
                        </tr>
                        <tr>
                            <th scope="row">Beauceron</th>
                            <td>$60</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Bedlington</th>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$95</td>
                            <td>$95</td>
                        </tr>
                        <tr>
                            <th scope="row">Belgian Shepherd - LH</th>
                            <td>$70</td>
                            <td>$85</td>
                            <td>$95</td>
                            <td>$150</td>
                            <td>$160</td>
                        </tr>
                        <tr>
                            <th scope="row">Belgian Shepherd - smooth</th>
                            <td>$60</td>
                            <td>$75</td>
                            <td>-</td>
                            <td>$85</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Beorboel</th>
                            <td>$60</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Bergamasco</th>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$90</td>
                            <td>$200</td>
                            <td>$110</td>
                        </tr>
                        <tr>
                            <th scope="row">Bernese Mtn Dog</th>
                            <td>$60</td>
                            <td>$70</td>
                            <td>$85</td>
                            <td>$175</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">Bichon Frise</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$125</td>
                            <td>$80</td>
                        </tr>
                        <tr>
                            <th scope="row">Black Russian Terrier</th>
                            <td>$65</td>
                            <td>$70</td>
                            <td>$85</td>
                            <td>$100</td>
                            <td>$110</td>
                        </tr>
                        <tr>
                            <th scope="row">Bloodhound</th>
                            <td>$65</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Bolognese</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$100</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Border</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <th scope="row">Border Collie</th>
                            <td>$45</td>
                            <td>$50</td>
                            <td>$65</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Borzoi</th>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$150</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Boston Terrier</th>
                            <td>$35</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Bouvier des Flandres</th>
                            <td>$60</td>
                            <td>$70</td>
                            <td>$100</td>
                            <td>$200</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Boxer</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Boykin Spaniel</th>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$65</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Briard</th>
                            <td>$60</td>
                            <td>$70</td>
                            <td>$90</td>
                            <td>$200</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Brittany</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$65</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Brussels Griffon</th>
                            <td>35</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$70</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <th scope="row">Buhund</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Bull Terrier</th>
                            <td>$40</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Bulldog</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Bullmastiff</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Cairn Terrier</th>
                            <td>$40</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Canaan</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$60</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Cane Corso</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Carolina Dog</th>
                            <td>$75</td>
                            <td>$75</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Cavalier King Charles Spaniel</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$80</td>
                        </tr>
                        <tr>
                            <th scope="row">Cavalon</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$65</td>
                            <td>$125</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Chesapeake Bay</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$75 Shave Down</td>
                        </tr>
                        <tr>
                            <th scope="row">Chihuahua sh/lh</th>
                            <td>$25/$35</td>
                            <td>$35/$55</td>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Chinese Crested</th>
                            <td>$25</td>
                            <td>$35</td>
                            <td>$50</td>
                            <td>-</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Chinese Crested – Powder Puff</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$60</td>
                            <td>$100</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Chow – Smooth</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>$75</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Chow Chow</th>
                            <td>$60</td>
                            <td>-$80</td>
                            <td>$100</td>
                            <td>$250</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">Clumber Spaniel</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$125</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Cockapoo</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$90</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Collie - Roug</th>
                            <td>$65</td>
                            <td>$70</td>
                            <td>$85</td>
                            <td>$120</td>
                            <td>$120</td>
                        </tr>
                        <tr>
                            <th scope="row">Collie - Smooth</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$60</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Coonhound (all)</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Corgi (all)</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>$65</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Coton de Tuléar</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$90</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Curley coated Retriever</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$75 - Shave Down</td>
                        </tr>
                        <tr>
                            <th scope="row">Dachshund -smooth</th>
                            <td>$30</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Dachshund -wire/long</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$50</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Dandie Dinmont</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$85</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Deerhound</th>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$85</td>
                            <td>-</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Dingo</th>
                            <td>$75</td>
                            <td>$75</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Dogue de Bordeaux</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Doodle - Toy</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$85</td>
                            <td>$65</td>
                        </tr>
                        <tr>
                            <th scope="row">English Cocker</th>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$75</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">English Setter</th>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$90</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">English Springer Spaniel</th>
                            <td>$45</td>
                            <td>$50</td>
                            <td>$75</td>
                            <td>$90</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">English Toy Spaniel</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Etna Hound</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Field Spaniel</th>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$75</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Fila</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Basenji</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Finish Spitz</th>
                            <td>$40</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Flat Coated Retriever</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$90</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <th scope="row">Basset Griffon Vendeen – Petite</th>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$65</td>
                            <td>$110</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Fox (both)</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">French Bulldog</th>
                            <td>$35</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">German Shepherd</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>$75</td>
                            <td>$75</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">German Spit</th>
                            <td>$50</td>
                            <td>$70</td>
                            <td>$80</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Giant Schnauzer</th>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Glen of Imaal</th>
                            <td>$45</td>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Golden Retriever</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$80</td>
                            <td>$100</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Goldendoodle</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$80</td>
                            <td>$250</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Gordon Setter</th>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$90</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Great Dane</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Great Pyrenees</th>
                            <td>$70</td>
                            <td>$75</td>
                            <td>$90</td>
                            <td>$175</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Great Spitz</th>
                            <td>$50</td>
                            <td>$80</td>
                            <td>$100</td>
                            <td>$250</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">Greater Swiss</th>
                            <td>$60</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Greyhound</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Harrier</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Havanese</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$125</td>
                            <td>$75</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Breed</th>
                            <th scope="col">The Renew</th>
                            <th scope="col">The Refresh</th>
                            <th scope="col">Urban Dog</th>
                            <th scope="col">Knotty Dog</th>
                            <th scope="col">The Westminster</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Ibizan Hound - smooth</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Ibizan hound - wire</th>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$70</td>
                            <td>-</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">Iceland Dog</th>
                            <td>$60</td>
                            <td>$90</td>
                            <td>$100</td>
                            <td>$250</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">Irish Terrier</th>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$85</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Irish Setter</th>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Irish Water Spaniel</th>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Italian Greyhound</th>
                            <td>$35</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Jack Parson Russell (sm)</th>
                            <td>$35</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Jack Parson Russell (wh)</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$50</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Japanese Chin</th>
                            <td>$30</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Japanese Spitz</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$80</td>
                            <td>$100</td>
                            <td>$80</td>
                        </tr>
                        <tr>
                            <th scope="row">Jindo</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Karelian Bear Dog</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Keeshond</th>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$80</td>
                            <td>-</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">Kerry Blue</th>
                            <td>$60</td>
                            <td>$65</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Kishu</th>
                            <td>$40</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Komondor</th>
                            <td>$75</td>
                            <td>$80</td>
                            <td>$100</td>
                            <td>-</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Kuvasz</th>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>-</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Labradoodle</th>
                            <td>$50</td>
                            <td>$65</td>
                            <td>$80</td>
                            <td>$200</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Labrador Retriever</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$75 - Shave Down</td>
                        </tr>
                        <tr>
                            <th scope="row">Lakeland</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Lancashire Heeler</th>
                            <td>$40</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$50</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Lapphund</th>
                            <td>$50</td>
                            <td>$80</td>
                            <td>$100</td>
                            <td>$250</td>
                            <td>$150</td>
                        </tr>

                        <tr>
                            <th scope="row">Leonberger</th>
                            <td>$75</td>
                            <td>$85</td>
                            <td>$100</td>
                            <td>$250</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Lhasa Apso</th>
                            <td>$35</td>
                            <td>$50</td>
                            <td>$65</td>
                            <td>$80</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Lhasapoo / Shipoo</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <th scope="row">Lowchen</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$90</td>
                            <td>$80</td>
                        </tr>
                        <tr>
                            <th scope="row">Lundehund</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Malamute</th>
                            <td>$60</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">Maltese</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Maltipoo</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$65</td>
                            <td>$125</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Manchester (All)</th>
                            <td>$35</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Mastiff</th>
                            <td>$55</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Mini Doodle</th>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$150</td>
                            <td>$90</td>
                        </tr>
                        <tr>
                            <th scope="row">Miniature Pincher</th>
                            <td>$30</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Mix - Large</th>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$150</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Mix – Medium</th>
                            <td>$45</td>
                            <td>$50</td>
                            <td>$55</td>
                            <td>$90</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <th scope="row">Mix - Small</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$125</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <th scope="row">Mudi</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$75</td>
                            <td>$75</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Neapolitan</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">New Guinea Singing</th>
                            <td>$50</td>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Newfoundland</th>
                            <td>$75</td>
                            <td>$85</td>
                            <td>$125</td>
                            <td>$250</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Norfolk/ Norwich</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$70</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Norwegian Elkhound</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Nova Scotia Duck Tolling Retriever</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Old English Sheepdog</th>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$200</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Otterhound</th>
                            <td>$60</td>
                            <td>$70</td>
                            <td>$75</td>
                            <td>$150</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Papillion</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$80</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <th scope="row">Pekingese</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$80</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <th scope="row">Peruvian Inca Orchid</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Pharoh</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Polish Lowland</th>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$85</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Pomeranian</th>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$90</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Poodle - Miniature</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$125</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Poodle - Standard</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$80</td>
                            <td>$250</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Poodle - Toy</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$85</td>
                            <td>$65</td>
                        </tr>
                        <tr>
                            <th scope="row">Portuguese Mastiff</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Portuguese Water Dog</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$150</td>
                            <td>$90</td>
                        </tr>
                        <tr>
                            <th scope="row">Pressa Canario</th>
                            <td>$55</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Pug</th>
                            <td>$35</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Puli</th>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$120</td>
                            <td>$100 - Cords</td>
                        </tr>
                        <tr>
                            <th scope="row">Pyrenean Mastiff</th>
                            <td>$75</td>
                            <td>$85</td>
                            <td>$100</td>
                            <td>-</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Pyrenean Shepherd</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Rottweiler</th>
                            <td>$60</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$75 - Shave</td>
                        </tr>
                        <tr>
                            <th scope="row">Saluki</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Samoyed</th>
                            <td>$50</td>
                            <td>$80</td>
                            <td>$100</td>
                            <td>$250</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <th scope="row">Schipperke</th>
                            <td>$40</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Schnauzer - Miniature</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Schnauzer - Standard</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$70</td>
                            <td>$85</td>
                            <td>$85</td>
                        </tr>
                        <tr>
                            <th scope="row">Schnoodle</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$100</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Scottish</th>
                            <td>$35</td>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Sealyham</th>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$70</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Shar Pei</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Shetland Sheepdog</th>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Shiba Inu</th>
                            <td>$40</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Shih Tzu</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$65</td>
                            <td>$80</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Siberian Husky</th>
                            <td>$55</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Silky Terrier</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Skye Terrier</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$65</td>
                            <td>$80</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Sloughi</th>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Smooth Fox, Toy Fox</th>
                            <td>$35</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$45</td>
                            <td>$50 - 2 hrs</td>
                        </tr>
                        <tr>
                            <th scope="row">Soft Coat Wheaton</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$65</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">Spanish Mastiff</th>
                            <td>$75</td>
                            <td>$90</td>
                            <td>$100</td>
                            <td>-</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Spanish Water Dog</th>
                            <td>$45</td>
                            <td>$50</td>
                            <td>$75</td>
                            <td>$150</td>
                            <td>$90 - Cords</td>
                        </tr>
                        <tr>
                            <th scope="row">St. Bernard - Large</th>
                            <td>$75</td>
                            <td>$90</td>
                            <td>$100</td>
                            <td>$200</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">St Bernard –Small</th>
                            <td>$60</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>$100 - Shave</td>
                        </tr>
                        <tr>
                            <th scope="row">Sussex Spaniel</th>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$90</td>
                            <td>$90</td>
                        </tr>
                        <tr>
                            <th scope="row">Thai Ridgeback</th>
                            <td>$40</td>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Tibetan Mastiff</th>
                            <td>$75</td>
                            <td>$85</td>
                            <td>$95</td>
                            <td>-</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Tibetan Spaniel</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$80</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Tibetan Terrier</th>
                            <td>$45</td>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$90</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Tosa</th>
                            <td>$50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Valhund</th>
                            <td>$55</td>
                            <td>-</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Volpino</th>
                            <td>$40</td>
                            <td>$50</td>
                            <td>$60</td>
                            <td>$100</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <th scope="row">Welsh</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Welsh Springer Spaniel</th>
                            <td>$40</td>
                            <td>$55</td>
                            <td>$70</td>
                            <td>$75</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">West Highland Terroer</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$60</td>
                            <td>$75</td>
                            <td>$80</td>
                        </tr>
                        <tr>
                            <th scope="row">Whippet</th>
                            <td>$35</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Windhound</th>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$65</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Wire Fox Terrier</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$75</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <th scope="row">Wolf Mix</th>
                            <td>$150</td>
                            <td>$150</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Wolfhound</th>
                            <td>$65</td>
                            <td>$75</td>
                            <td>$85</td>
                            <td>-</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <th scope="row">Xolo</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">Yorkipoo</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$85</td>
                            <td>$65</td>
                        </tr>
                        <tr>
                            <th scope="row">Yorkshire Terrier</th>
                            <td>$35</td>
                            <td>$45</td>
                            <td>$55</td>
                            <td>$60</td>
                            <td>$65</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p class="lead">
            <a class="btn btn-lg" target="_blank" href="https://instant-scheduling.com/sch.php?kn=162145">Book Online</a>
        </p>
    </div>

</div>