<div class="row">
    {{!--
    <div class="col-md-1"></div> --}}
    <div class="col-md-12 spaPackages">
        <h1>Spa Packages</h1>

        {{> paw_line }}

        <h2>All Dog Spa Packages Include:</h2>
        <ul>
            <li>Nail Care</li>
            <li>Ear Care</li>
            <li>Anal Gland Care</li>
            <li>Breed-Appropriate Brushing for Coat</li>
            <li>Skin Check</li>
            <li>Tooth Brushing</li>
        </ul>

        {{> paw_line }}

        <div class="content">
            <h4>The Quickie - $20 - 10 minutes</h4>
            <p>The perfect solution for the dog who needs a touch up but no bath. We use a waterless shampoo to quickly deodorize
                your pets coat and help reduce dander. We trim the face, feet and sanitary areas and any fly away hairs disturbing
                the outline of your pets coat. We use the Furminator (R) deshedding tool for pets who will benefit from a
                light deshedding.
            </p>

            <h4>The Wissahickon Special - $20 - 15 minutes</h4>
            <p>Express bath service for dogs who just need to be clean. Perfect for dogs on the way home from the dog park.
                Includes: Full bath and rinse with coat appropriate shampoo, Towel off, and tick check and a nail trim.
                <br>THIS IS NOT A FULL GROOMING PACKAGE, YOUR DOG WILL NOT BE COMPLETELY DRY.</p>

            <h4>The Dirty Dog Luxury Bath - $25 to $35 - 1 hour</h4>
            <p>Drop off your dirty dog for a one hour spa treatment for dogs who need nothing more than to be clean and confident.
                Your dog is hand washed in one of our luxury shampoos (including several hypoallergenic choices), and blown
                dry. Includes: NAILS Trimmed and Filed, ANAL GLANDS checked and expressed if needed or requested, EARS checked,
                cleaned or flushed if needed, TEETH checked and brushed, and a thorough brush out. This is not a haircut.
            </p>

            <h4>The Renew - $35 to $75 - 1 to 1 1/2 hours</h4>
            <p>When just a bath is not enough, we offer the refresh package in two forms, both of which inclue nail and ear
                care, toothbrushing and anal gland expression if needed.</p>
            <p>1. A deshedding experience for dogs with undercoat that starts with a bath in our HydroSurge 5.1 Massaging bath
                system, hydrating shampoo that loosens all the debris and dead hair, followed by a deep conditioning to rejuvenate
                the skin and follicles. The undercoat is gently raked out then the entire body is carded using special tools
                and techniques.</p>
            <p>2. A fluff-out package for dogs with permanent coats that begins with a bath in our HydroSurge 5.1 Massaging
                bath system, a coat appropriate shampoo to enhance the condition of your pets coat followed by a weightless
                conditioner. The coat is then fluffed and combed.</p>

            <h4>The Refresh - $35 to $75 - about 90 minutes</h4>
            <p>Perfect for dogs who need a touch up but do not need length taken off their body. This spa experience consists
                of a luxurious shampoo and rinse, brush out, nail, gland and ear care. We then trim the head, face, feet,
                sanitary areas, feathers and outline. This package is very popular with Golden Retrievers, Pomeranians, and
                other long haired breeds who need trimming around the edges to look their best.
            </p>

            <h4>The Urban Dog - $55 to $150 - about 2 hours</h4>
            <p>The traditional grooming package consisting of a bath with HydroSurge 5.1 using appropriate coat enhancing shampoo
                and conditioners, followed by a breed specific or custom hair styling from tip to tail. Trimming is done
                with clippers and scissors and sculpted beautifully into a style that fits your pooch. Toothbrushing, Nail
                and Ear care, Anal Gland care are provided if needed.</p>

            <h4>The Westminster - $75 to $250 - 3 to 5 hours</h4>
            <p>For show prospects or dogs who want to look like a show dog, we offer the Westminster package by special appointment
                for many breeds.</p>
            <p>1. For wire coated terriers who need to be stripped by hand, we offer coat stripping according to breed standards
                for show prospects and a "stripping light" for pets that includes clipping of the sanitary and hand thinning
                of the flatwork to maximize the look but minimize the pain. Hand stripped terriers can be bathed upon request
                at no extra charge.</p>
            <p>2. For sporting breeds who need to be stripped, we offer hand stripping and coat sculpting according to current
                show ring trends. Sporting dogs who are stripped are shampooed and conditioned with Iv San Bernard's Banana
                line or Atami's Gingko and Ginseng line to encourage a smooth flowing coat and inhibit matting.</p>
            <p>3. Long Haired dogs are bathed in Iv San Bernard's Poma Verde line, Sculpted by hand with shears. Smooth coated
                dogs are bathed and conditioned fully using Iv San Bernard's Lemon or Banana line depending on texture, and
                shears are used to remove each stray hair until a tidy and show quality outline remains.</p>

            <h4>The Knotty Dog - $75 to $250 - time based on work to be done</h4>
            <p>Dog who are significantly matted but whose owners have a strong desire to salvage the coat, may be eligible for
                this package, upon consultation. The entire coat is dematted using matt splitters, combs, brushes and shears.
                This package includes a bath experience using the most appropriate products to loosen the matts and rebuild
                the damaged coat. The coat is then styled according to specification. Only dogs whose coat we feel can be
                safely salvaged and who have the temperament for such an undertaking will be eligible for this package. Some
                dogs may take more than one appointment to complete.</p>

            <h4>DEMATTING is EXTRA and starts at $10 for 15 minutes.</h4>

            <p class="lead">
                <a class="btn btn-lg hvr-wobble-top" target="_blank" href="https://instant-scheduling.com/sch.php?kn=162145">Book Online</a>
            </p>
        </div>
    </div>
</div>