<div id="container-fluid">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">

        <div id="logo">
            <img src="/assets/images/th.jpeg" style="max-height: 45px; text-align:center; margin-bottom: -3px" class="philly skyline">
            <h5 style="margin:0; font-size: 16px;color:whitesmoke">
                <i class="fas fa-paw fa-xs" style="color:rgb(173, 106, 222)"> </i> phillydogspot.com</h5>
        </div>

        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item active">
                    <a class="nav-link js-scroll-trigger" href="#top">Home
                        <span> &#160 &#160; </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About
                        <span> &#160 &#160 </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#policies">Policies
                        <span> &#160 &#160</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Location &#8226 Contact
                        <span> &#160</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                        Grooming</a>
                    <div class="dropdown-menu dropdown-menu-right groom" id="grooming" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item js-scroll-trigger groom" href="#spaPackages" >Spa Packages</a>
                        <a class="dropdown-item js-scroll-trigger groom" href="#price">Price by Breed</a>
                        <a class="dropdown-item js-scroll-trigger groom" href="#color">Coat Coloring</a>
                        <a class="dropdown-item js-scroll-trigger groom" href="#perscription">Perscription Bathing</a>
                        <a class="dropdown-item js-scroll-trigger groom" href="#cats" >Cats</a>
                        <hr style="background-color:rgb(249, 235, 254);">
                        <a class="dropdown-item js-scroll-trigger groom" href="#groomingFacts">Grooming Facts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" target="_blank" href="https://instant-scheduling.com/sch.php?kn=162145">&#160; Book</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        {{!-- <div class="col-md-1"></div> --}}
        <div class="col-md-12 banner">
            <h1>Welcome to phillydogspot</h1>
            <h3>Drop Off Bathing Service
                <span> &#8226;</span>
                All Natural Products
                <span> &#8226;</span>
                Kennel Free Dog Grooming</h3>
            <h2>Dog-Owned Stylist and Staff</h2>

            {{> paw_line_rainbow }}

            <a>
                <img src="assets/images/dottie.jpeg" class="dog-image" alt="Dottie" style="max-height:225px; max-width:150px; border:ridge 4px yellow; margin-top:10px; margin-bottom:10px">
                <img src="assets/images/dogHandkerchief.jpeg" class="dog-image" alt="Handkercheif" style="max-height:200px; max-width:200px; border:ridge 4px rgb(7, 100, 215);margin-top:10px; margin-bottom:10px">
                <img src="assets/images/familyAtPride.jpeg" class="dog-image" alt="Family at Pride" style="max-height:250x; max-width:300px; border:ridge 4px rgb(203, 21, 82);margin-top:10px; margin-bottom:10px">

                <img src="assets/images/dogOnChair.jpeg" class="dog-image" alt="At the Table" style="max-height:200px; max-width:200px; border:ridge 4px rgb(8, 235, 61);margin-top:10px; margin-bottom:10px">
                <img src="assets/images/maxBrt.jpeg" class="dog-image" alt="Max" style="max-height:225px; max-width:150px; border:ridge 4px rgb(255, 153, 0);margin-top:10px; margin-bottom:10px">
            </a>

            <p class="lead">
                <a class="btn btn-lg" target="_blank" href="https://instant-scheduling.com/sch.php?kn=162145" role="button">Book Online</a>
            </p>
        </div>
    </div>

    {{!-- ******************** Spa Packages **************** --}}
    <div id="spaPackages">
        {{> spa_packages }}
    </div>

    {{!-- ********************** Book ********************* --}}
    {{!-- <div id="book">
        {{> book }}
    </div> --}}

    {{!-- ********************** Color ********************** --}}
    <div id="color">
        {{> color }}
    </div>

    {{!-- ******************* Perscription ******************* --}}
    <div id="perscription">
        {{> perscription }}
    </div>

    {{!-- *********************** Cats *********************** --}}
    <div id="cats">
        {{> cats }}
    </div>

    {{!-- ****************** Grooming Facts ****************** --}}
    <div id="groomingFacts">
        {{> grooming_facts }}
    </div>

    {{!-- ******************** About Us *********************** --}}
    <div id="about">
        {{> about }}
    </div>

    {{!-- *********************** Contact ********************* --}}

    <div id="contact">
        {{> contact }}
    </div>

    {{!-- ********************** Policies ********************* --}}
    <div id="policies">
        {{> policies }}
    </div>
    
    {{!-- *********************** Price *********************** --}}
    <div id="price">
        {{> price }}
    </div>

</div>