html {
    box-sizing: border-box;
}
*,
*:before,
*after {
    box-sizing: inherit;
}

body {
    background-image: url("../images/rainbowPaw2.jpg");
    background-size: cover auto;
}

nav {
    background-color: rgb(27, 136, 52);
    color: whitesmoke;
    height: 80px;
}